NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
DATABASE_URL=postgresql://neondb_owner:npg_YSrVZneLU0M4@ep-gentle-mouse-aj7ou6r2-pooler.c-3.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
